body {
	font-family: -apple-system, sans-serif;
}

.wrapper {
	width: 100%;
}

.container {
	max-width: 1020px;
	margin: 0 auto;
	text-align: center;
}

nav {
	list-style: none;
	padding-bottom: 2em;

	li {
		font-size: 1em;
		display: inline-block;
		padding: 0 0.5em;

		a {
			color: #606060;

			&:hover {
				border-bottom: 1px solid #606060;
			}
		}
	}
}

@import 'partials/buttons';